.navbar{
    display:flex;
    margin-top: 20px;
    margin-left: 30px;


    

    

}
.logo-site img{
      width:90px;
      height:30px;
      
      padding: 30px;
}
 .icon-s {
    
    display:flex;
    flex-direction: row;
    margin-left:300px;
   /* margin-top:10px;*/
    align-items: baseline;
    
    
    
   
    
}
.art{
    text-decoration: none;
    color: #808080;
}
a:hover{
    color:#000000;
}
.icon-a{
    text-align: center;
    /*padding: 28px;
    margin-top: 1px;*/
    color: #808080;
    padding-left: 25px;
    padding-right: 25px;
    
   
    
  
}
.icon-a:hover {
    color:black;
}
#Join{
    padding: 15px;
    margin-right:10px;
    
}
#Join:hover{
    color:rgb(3, 3, 3);
    border: 1px solid #e7e4e4;
    background-color: #e7e4e4;
    border-radius: 35px;
    padding:10px;
   

}
#sign{
    border: 1px solid rgb(35, 103, 238);
    color:rgb(35, 103, 238);
    border-radius:35px;
    padding: 15px;
    

}
#sign:hover{
    background-color: rgb(218, 239, 250);
}
.main{
    display: flex;
    
}
.p{
    font-size: 50px;
    margin-top:10px;
    padding:40px;
    color: rgb(99, 102, 99);
    

}


.goo-gle { 
    display: flex;
    justify-content:center;
  
    border: 1px solid #000000;
    border-radius: 35px;
    
   
    position: absolute;
    left: 50px;
    top: 300px;
    padding-right: 120px;
    padding-left: 120px;
    padding-top:8px ;
    padding-bottom: 8px;
    
   

    
    
    
}
.elg{
    text-decoration: none;
    color:#000000 ;
}
/*.fas{
    color:#000000 ;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}*/

.asd{
    margin-left: 10px;
}

.sign-i{
    display: flex;
    justify-content: space-between;
    color:#000000 ;
    border: 1px solid #000000;
    border-radius: 35px;
    position: absolute;
    left: 50px;
    top: 355px;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 9px;
    padding-bottom:9px ;
    
}
.ghi{
    text-decoration: none;
    color:#000000;
    font-size: 20px;
     
}
.here{
    font-size: 15px;
   /* margin-left : 30px ;*/
    position: absolute;
    left: 50px;
    top: 400px;
    text-align: center;
    


}
.user-i{
    color:rgb(5, 98, 185) ;
    font-weight:100 ;
    

}
.task{
    text-decoration: none;
}
.user-i:hover{
    text-decoration: underline;
}
.ski{
    color:rgb(5, 98, 185) ;
}
.kig{
    text-decoration: none;
    color:rgb(5, 98,185) ;
}

.ski:hover{
    text-decoration: underline;
}
.join-i{
    font-size: 20px;
    position: absolute;
    left: 150px;
    top: 530px;
}
.reo{
    color: rgb(5,98,185) ;
}

.im-g img{ 

    width: 600px;
    height:560px;
   
    box-sizing: border-box;
    
    position: absolute;
    right: 0;
    
    
  
}